<!DOCTYPE html>
<html lang="ln">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/static/bootstrap.min.css" />
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script src="/static/jquery-3.3.1.js"></script>

<script>
function check()
{
eid=$("#eid").val();
alert("eid");
$.get("checkEmail?eid="+eid,function(data,status){
alert(data);
});
}</script>
</head>
<body>
<H1>REGISTRATION</H1>
<FORM CLASS="form-horizontal" METHOD="POST" ACTION="instituteSave">
{% csrf_token %}
	<DIV CLASS="form-group">
		<LABEL CLASS="control-label col-sm-2" FOR="instname">INSTITUTE NAME</LABEL>
		<DIV CLASS="col-sm-6">
			<INPUT TYPE="TEXT" ID="instname" NAME="instname" CLASS="form-control" />
			<button type=button id="cfs" onclick="check()"> Check for Availability </button>
			
		</DIV>
	</DIV>
	<DIV CLASS="form-group">
		<LABEL CLASS="control-label col-sm-2" FOR="uid">USER ID</LABEL>
		<DIV CLASS="col-sm-6">
			<INPUT TYPE="text" ID="uid" NAME="uid" CLASS="form-control" />
		</DIV>
	</DIV>
	<DIV CLASS="form-group">
		<LABEL CLASS="control-label col-sm-2" FOR="password">PASSWORD</LABEL>
		<DIV CLASS="col-sm-6">
			<INPUT TYPE="PASSWORD" ID="password" NAME="password" CLASS="form-control" />
		</DIV>
		</DIV>
	<DIV CLASS="form-group">
		<LABEL CLASS="control-label col-sm-2" FOR="cpwd">CONFIRM PASSWORD</LABEL>
		<DIV CLASS="col-sm-6">
			<INPUT TYPE="PASSWORD" ID="cpwd" NAME="cpwd" CLASS="form-control" />
		</DIV>
		</DIV>
		<DIV CLASS="form-group">
		<LABEL CLASS="control-label col-sm-2" FOR="insttype">INSTITUTE TYPE</LABEL>
		<DIV CLASS="col-sm-6">
			<select ID="insttype" NAME="insttype" CLASS="form-control" >
			<option value="disabled">Select</option>
			<option value="school">SCHOOL</option>
			<option value="college">COLLEGE</option>
			</select>
		</DIV>
	</DIV>
	<DIV CLASS="form-group">
		<LABEL CLASS="control-label col-sm-2" FOR="address">ADDRESS</LABEL>
		<DIV CLASS="col-sm-6">
			<INPUT TYPE="TEXT" ID="address" NAME="address" CLASS="form-control" />
		</DIV>
	</DIV>
	<DIV CLASS="form-group">
		<LABEL CLASS="control-label col-sm-2" FOR="city">CITY</LABEL>
		<DIV CLASS="col-sm-6">
			<INPUT TYPE="TEXT" ID="city" NAME="city" CLASS="form-control" />
		</DIV>
	</DIV>
	<DIV CLASS="form-group">
		<LABEL CLASS="control-label col-sm-2" FOR="contactno">CONTACT NUMBER</LABEL>
		<DIV CLASS="col-sm-6">
			<INPUT TYPE="TEXT" ID="contactno" NAME="contactno" CLASS="form-control" />
		</DIV>
	</DIV>
	<INPUT TYPE="SUBMIT" VALUE="SUBMIT" CLASS="form-control" />
</BODY>
</HTML>
